<h2>Moves taken...</h2>

  <div class="flex justify-between gap-2 py-2 border-b-2 border-neutral-300">
    <div>N/S</div>
    <div>E/W</div>
    <div>Distance from treasure</div>
    <div>Winning move?</div>
  </div>
  <%= render game.moves %>
</div>
