<div class="max-w-3xl mx-auto">
  <section class="pb-4">
    <%= render "layouts/game_flash" %>
  </section>
  
  <div id="games" class="grid grid-cols-1 divide-y">
    <h1 class="mt-4">Score Board</h1>
    <%= render @winners %>
  </div>

</div>
