<div class="max-w-3xl mx-auto">
  <section class="pb-4">
    <%= render "layouts/game_flash" %>
  </section>
  
  <h1 class="mt-4">Score Board</h1>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  <div id="games" class="grid grid-cols-1 divide-y">
    <%= render @winners %>
  </div>

</div>
